body {
    font-family: sans-serif;
    font-size: 0.8em;
}

div.leftcolumn {
    flex: 60%;
    padding-right: 10px;
}

div.rightcolumn {
    flex: 40%;
}

@media screen and (max-width: 600px) {
    div.leftcolumn div.rightcolumn {
        flex: 100%;
    }
}


div.softwaresourcecode {
    display: flex;
}

div.softwaresourcecode div.properties {
    background: #e4e4e4;
    padding: 10px;
    border-radius: 25px;
}

dt {
    cursor: help;
    font-weight: bold;
}

dd ul, table ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.keywords ul, .softwareRequirements ul {
    list-style: none;
}

.keywords ul li, .softwareRequirements ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border: #aac 1px solid;
    background: white;
    color: black;
    font-size: 0.9em;
}


.interface ul, table ul {
    list-style: none;
}

.interface ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border: #aac 1px solid;
    background: white;
    color: black;
    font-size: 0.9em;
    cursor: help;
}
div.properties {
    margin-top: 10px;
}


div.go {
    margin-top: 10px;
    padding: 10px;
    background: #e1275e;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
div.go a {
    color: white;
    font-weight: bold;
}
div.go i {
    font-size: 200%;
}
div.go strong {
    font-size: 125%;
}
div.go tt {
    display: block;
    font-size: 90%;
    font-weight: normal;
}
div.go:hover {
    background: #bb0138;
}

div.targetProduct {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}


div.targetProduct, tr.targetProduct td {
    background: rgb(211, 220, 255);
}
body div.CommandLineApplication, table tr.CommandLineApplication td {
    background: #dedede;
}
body div.WebAPI, table tr.WebAPI td {
    background: #e2f8f8
}

tr.targetProduct td.name {
    text-align: right;
}

div.targetProduct div.properties {
    background: transparent;
    margin-top: 0px;
    text-align: right;
}
tr.targetProduct td.links a.mainlink {
    font-weight: bold;
    border-bottom: #2628c9 2px solid;
    text-decoration: none;
}
tr.targetProduct td.developmentStatus, tr.targetProduct td.author {
    /* these fields are typically empty */
    background: white;
}
div.targetProduct h2 {
    margin-left: 20px;
    color: #bb0138;
    padding-top: 10px;
    text-align: center;
}
img.thumbnail {
    float: left;
    max-width: 120px;
}

.positive {
    color: green;
}
.negative {
    color: #da4800 !important;
}
div.warning {
    color: white;
    padding: 2px;
    border: 1px solid red;
    background: #672525;
    text-align: center;
}
div#footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    color: #333;
    font-size: 80%;
}

table {
    vertical-align: top;
}
table td.name {
    font-weight: bold;
}
th {
    border-bottom: 1px solid black;
    text-align: left;
    vertical-align: top;
}
tr.softwaresourcecode td {
    border-top: 1px solid black;
    text-align: left;
    vertical-align: top;
}
td {
    border-right: 1px solid #eee;
}

th.name, td.name {
    width: 10%;
}
th.description, td.description {
    width: 33%;
}
th.maintainer, th.author, th.producer {
    width: 8%;
}
div.keywords {
    margin-top: 5px;
    font-size: 90%;
}
.interface {
    font-size: 90%;
}
div.keywords ul {
    display: inline;
}
div.keywords ul li, .interface ul li, dd.softwareRequirements ul li {
    background: #ddd;
    font-size: 90%;
}
div.properties .email, div.properties .affiliation, td .email, td .affiliation {
    font-size: 80%;
}
tr.softwaresourcecode span.dateModified {
    display: block;
    font-family: monospace;
    font-size: 75%;
    cursor: help;
}
dd.executableName {
    font-family: monospace;
}
div.reference {
    display: inline;
}
div.reference ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div.reference ul, div.reference ul li {
    display: inline;
    font-style: italic;
}
div.reference ul li:after { content: ", "; }
div.reference ul li:last-child:after { content: ""; }
