<div id="filters">
    <p>Set filter and click the search button above</p>
    <ul>
        <li>Interface type
            <ul>
                <li><input type="checkbox" id="filter_interface_none" /> <label for="filter_interface_none">Unknown</label>
                <li><input type="checkbox" id="filter_interface_cli" /> <label for="filter_interface_cli">Command-line Application</label>
                <li><input type="checkbox" id="filter_interface_web" /> <label for="filter_interface_web">Web Application</label>
                <li><input type="checkbox" id="filter_interface_webapi" /> <label for="filter_interface_webapi">Web API</label>
                <li><input type="checkbox" id="filter_interface_library" /> <label for="filter_interface_library">Software library</label>
                <li><input type="checkbox" id="filter_interface_desktop" /> <label for="filter_interface_desktop">Desktop Application</label>
                <li><input type="checkbox" id="filter_interface_mobile" /> <label for="filter_interface_mobile">Mobile Application</label>
                <li><input type="checkbox" id="filter_interface_server" /> <label for="filter_interface_server">Server Application</label>
                <li><input type="checkbox" id="filter_interface_terminal" /> <label for="filter_interface_terminal">Terminal Application</label>
                <li><input type="checkbox" id="filter_interface_notebook" /> <label for="filter_interface_notebook">Notebook Application</label>
            </ul>
        </li>
        <li>Repository status
            <ul>
                <li><input type="checkbox" id="filter_repostatus_none" /> <label for="filter_interface_none">Unspecified</label>
                <li><input type="checkbox" id="filter_repostatus_active"/> <img src="https://www.repostatus.org/badges/latest/active.svg" alt="active" title="Project Status: Active – The project has reached a stable, usable state and is being actively developed." /></li>
                <li><input type="checkbox" id="filter_repostatus_inactive"/> <img src="https://www.repostatus.org/badges/latest/inactive.svg" alt="inactive" title="Project Status: Inactive – The project has reached a stable, usable state but is no longer being actively developed; support/maintenance will be provided as time allows." /></li>
                <li><input type="checkbox" id="filter_repostatus_unsupported"/> <img src="https://www.repostatus.org/badges/latest/unsupported.svg" alt="unsupported" title="Project Status: Unsupported - The project has reached a stable, usable state but the author(s) have ceased all work on it. A new maintainer may be desired." /></li>
                <li><input type="checkbox" id="filter_repostatus_wip"/> <img src="https://www.repostatus.org/badges/latest/wip.svg" alt="wip" title="Project Status: Work in Progress - Initial development is in progress, but there has not yet been a stable, usable release suitable for the public." /></li>
                <li><input type="checkbox" id="filter_repostatus_concept"/> <img src="https://www.repostatus.org/badges/latest/concept.svg" alt="concept" title="Project Status: Concept - Minimal or no implementation has been done yet, or the repository is only intended to be a limited example, demo, or proof-of-concept." /></li>
                <li><input type="checkbox" id="filter_repostatus_suspended"/> <img src="https://www.repostatus.org/badges/latest/suspended.svg" alt="suspended" title="Project Status: Suspended - Initial development has started, but there has not yet been a stable, usable release; work has been stopped for the time being but the author(s) intend on resuming work." /></li>
                <li><input type="checkbox" id="filter_repostatus_abandoned"/> <img src="https://www.repostatus.org/badges/latest/abandoned.svg" alt="abandoned" title="Project Status: Abandoned - Initial development has started, but there has not yet been a stable, usable release; the project has been abandoned and the author(s) do not intend on continuing development." /></li>
            </ul>
        </li>
        <li>Metadata Quality
            <ul>
                <li>
                    <input type="checkbox" id="filter_rating5"/> 
                    <span class="rating5">
                    &starf;
                    &starf;
                    &starf;
                    &starf;
                    &starf;
                    </span>
                </li>
                <li>
                    <input type="checkbox" id="filter_rating4"/> 
                    <span class="rating4">
                    &starf;
                    &starf;
                    &starf;
                    &starf;
                    &star;
                    </span>
                </li>
                <li>
                    <input type="checkbox" id="filter_rating3"/> 
                    <span class="rating3">
                    &starf;
                    &starf;
                    &starf;
                    &star;
                    &star;
                    </span>
                </li>
                <li>
                    <input type="checkbox" id="filter_rating2"/> 
                    <span class="rating2">
                    &starf;
                    &starf;
                    &star;
                    &star;
                    &star;
                    </span>
                </li>
                <li>
                    <input type="checkbox" id="filter_rating1"/> 
                    <span class="rating1">
                    &starf;
                    &star;
                    &star;
                    &star;
                    &star;
                    </span>
                </li>
                <li>
                    <input type="checkbox" id="filter_rating"/> 
                    <span class="rating0">
                    &star;
                    &star;
                    &star;
                    &star;
                    &star;
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>
