<tr about="{{ res }}" class="softwaresourcecode" typeof="schema:SoftwareSourceCode">
    <td class="name" property="schema:name">
    {% if baseuri %}
    <a href="{{ res }}">
    {% endif %}
    {{ g.value(res, SDO.name) }}
    {% if baseuri %}
    </a>
    {% endif %}
    </td>
    <td class="version" property="schema:version">
        {% if  (res, SDO.version, None) in g %}
        {% if g.value(res, SDO.releaseNotes) %}
        <a rel="schema:releaseNotes" href="{{ g.value(res, SDO.releaseNotes) }}" title="release notes for this version">
        {% endif %}
        {{ g.value(res, SDO.version) }}
        {% if g.value(res, SDO.releaseNotes) %}
        </a>
        {% endif %}
        {% endif %}
    </td>
    <td class="interface">
        <ul>
        {% for label, comment in get_interface_types(g, res, contextgraph,fallback=True) %}
        <li{% if comment %} title="{{ comment }}"{% endif %}{% if label == "Unknown" %} class="negative"{% endif %}>{{ label }}</li>
        {% endfor %}
        </ul>
    </td>
    <td class="links">
        <ul>
        {% if  (res, SDO.codeRepository, None) in g %}
        <li><i class="fa-code-branch"></i> <a rel="schema:codeRepository" href="{{ g.value(res, SDO.codeRepository) }}">{{ g.value(res, SDO.codeRepository) }}</a></li>
        {% endif %}
        {% for _,_, value in g.triples((res, SDO.url, None)) %}
        {% if value != g.value(res, SDO.codeRepository) %}
        <li><i class="fa-home"></i> <a rel="schema:url" href="{{ g.value(res, SDO.url) }}">{{ g.value(res, SDO.url) }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </td>
    <td class="description">
        {% if  (res, SDO.description, None) in g %}
        <em property="schema:description">{{ g.value(res, SDO.description) }}</em> {% if baseuri %}[<a href="{{ res }}">view more</a>]{% endif %}
        {% endif %}

        {% if (res, SDO.applicationCategory, None) in g %}
        <div class="keywords">
        <strong>Category:</strong> <ul>
             {% for label, _ in get_triples(g, res, SDO.applicationCategory, abcsort=True) %}
                <li property="schema:">{{ label }}</li>
             {% endfor %}
        </ul>
        </div>
        {% endif %}

        {% if (res, SDO.keywords, None) in g %}
        <div class="keywords">
            <strong><i class="fa-tags"></i> Keywords:</strong> <ul>
             {% for label, _ in get_triples(g, res, SDO.keywords, abcsort=True) %}
                <li property="schema:keywords">{{ label }}</li>
             {% endfor %}
        </ul>
        </div>
        {% endif %}

    </td>
    <td class="developmentStatus" property="codemeta:developmentStatus">
        {% if (res, CODEMETA.developmentStatus, None) in g and g.value(res, CODEMETA.developmentStatus).find("repostatus") != -1 %}
            {% set repostatus = URIRef(g.value(res, CODEMETA.developmentStatus)) %}
            {% set repostatus_id = repostatus.split('#')[-1] %}
                <a rel="codemeta:developmentStatus" href="{{ g.value(res, CODEMETA.developmentStatus) }}"><img src="https://www.repostatus.org/badges/latest/{{ repostatus_id }}.svg" title="{{ contextgraph.value(repostatus, SKOS.prefLabel) }}: {{ contextgraph.value(repostatus, SKOS.definition) }}" alt="{{ contextgraph.value(repostatus, SKOS.prefLabel) }}: {{ contextgraph.value(repostatus, SKOS.definition) }}"  /></a>
        {% else %}
            {{ g.value(res, CODEMETA.developmentStatus) }}
        {% endif %}
    </td>
    <td class="maintainer">
        <ul>
         {% for label, res2 in get_triples(g, res, SDO.maintainer) %}
         <li>{% include 'person_or_org.html' %}</li>
         {% endfor %}
        </ul>
    </td>
    <td class="author">
        <ul>
         {% for label, res2 in get_triples(g, res, SDO.author) %}
         <li>{% include 'person_or_org.html' %}</li>
         {% endfor %}
        </ul>
    </td>
    <td class="producer">
        <ul>
         {% for label, res2 in get_triples(g, res, SDO.producer) %}
         <li>{% include 'person_or_org.html' %}</li>
         {% endfor %}
        </ul>
    </td>
</tr>

{% if g.value(res, SDO.targetProduct) %}
{% for _,_,targetres in g.triples((res, SDO.targetProduct, None)) %}
<tr class="targetProduct">
{% include 'item_targetproduct.html' %}
</tr>
{% endfor %}
{% endif %}
